body{
    padding:0px;
    margin:0px;
    background-color: #717894; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #010101, #717894);
    background-attachment: fixed;
    height:100vh;
}
#root{
    height:100%;
}
.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

@keyframes showInformation {
    100% {
       
        transform: scaleY(1);
    }
    50%{
        transform: scaleX(1);
        transform: scaleY(0.5);
    }
}
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
    30%{
        opacity:1;
    }
    0% {
        opacity: 0;
    }
}
