body{
    padding:0px;
    margin:0px;
    background-color: #717894; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #010101, #717894);
    background-attachment: fixed;
    height:100vh;
}
#root{
    height:100%;
}
.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

@keyframes showInformation {
    100% {
       
        transform: scaleY(1);
    }
    50%{
        transform: scaleX(1);
        transform: scaleY(0.5);
    }
}
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
    30%{
        opacity:1;
    }
    0% {
        opacity: 0;
    }
}
@keyframes bobAnimation{
    100%{
        transform: scale(1)
    }
    80%{
        transform: scale(0.8)
    }
    60%{
        transform: scale(1)
    }
    40%{
        transform: scale(1.2)
    }
    20%{
        transform: scale(1)
    }
    0%{
        transform: scale(0.8)
    }
}
.bobEffect{
    animation : bobAnimation 1s linear 0s 1 forwards 
}

/*
The animation property is a shorthand property for:

animation-name
animation-duration
animation-timing-function
animation-delay
animation-iteration-count
animation-direction
animation-fill-mode
animation-play-state
*/